@using BoardStats.Data


@model Stat



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
	  <form  method="post" class="form-register" id="form-register">
      <div class="modal-content">
		  <div class="modal-header">
        
          <h4 class="modal-title"> Dodaj nowy warunek zwycięzstwa  <button style="float:right" class="btn btn-default" type="button" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" style="float:right" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></button> </h4>
        </div>
 
        <div class="modal-body">
			 
         
		        
			  

									   <div class="col-sm-12">
									<div class="form-holder">
										<label>Statystyka</label>
											<div class="form-holder23" >
												
											<input type="text" asp-for="@Model.Statistic" class="form-control-2" name="Statistic" style="position: relative; left: 0px;" placeholder="Nowa statystyka">
									
										</div>
										<label style="position:relative;top:20px;">Przynależność</label>
										<div class="form-holder23" style="position:relative;top:20px;" >
											
										 <select asp-for="Category" name="Category" class="form-control" asp-items="Html.GetEnumSelectList<Category>()"></select>

										</div>
											<label style="position:relative;top:20px;">Kategoria</label>
											<div class="form-holder23" style="position:relative;top:20px;">
											
										 <select asp-for="StatCategory" name="StatCategory" class="form-control" asp-items="Html.GetEnumSelectList<StatCategory>()"></select>

										</div>
										@Html.HiddenFor(m => m.IdStat, new {Value= @Model.IdStat})
									</div>
								
						</div>
					


						

						

						
						
		        
		       
				 
        </div>
        <div class="modal-footer">
          
									
							
						
					
						
						
        </div>
		<button class="btn btn-success " style="position: relative; left: 30px; bottom:10px;" type="submit" asp-action="Update" asp-controller="Stats" >Dodaj</button>
      </div>
       </form>
    </div>
  </div>

  