<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wizard-v6</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="~/css/style_form.css"/>


	
  
  
  <!-- Bootstrap -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap2.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />





  <!-- Font Awesome --> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="image/svg" href="~/images/shelf.jpg">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<script type="text/javascript" src="~/js/site.js"></script>
	

     <link rel="stylesheet" href="~/css/Style.css">


       <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.default-v2.min.css" />



</head>




<body>

	
      


<header>

                        <partial name="_NavbarPartial"/>

</header>

	<div class="page-content">
		
	
		<div class="wizard-v6-content-mine" style="position: relative; top: 100px;">
			<div class="wizard-form">
		        <form class="form-register" id="form-register" method="post">
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			                
			            <section>
							
							
			                <div class="inner">
			            <span class="text-white" value="@ViewBag.Error">@ViewBag.Error</span>
								<div class="form-row">
									
									

									   <div class="col-sm-12">
									<div class="form-holder">
										
											<input type="text" class="form-control" id="Bgg_Id" name="Bgg_Id" style="position: relative; left: 100px;" placeholder="@ViewData["BbgId"]">
											
										

										
									</div>
								
						</div>
					


						</div>

						<div class="form-row">
							<button class="btn btn-primary " style="position: relative; left: 50px;" type="submit" asp-action="NoBgg" asp-controller="Games" >Brak ID</button>

						<button class="btn btn-success " style="position: relative; left: 250px;" type="submit" asp-action="CheckBgg" asp-controller="Games">Dodaj</button>
					
						
						</div>
						Dodając do kolekcji nową grę, możesz wtkorzystać istniejącą baze BoardGameGeek do automatycznego zaciągnięcia większości potrzebnych danych.
						W tym celu wystarczy wprowadzić ID gry, które można znaleźć w linku ze strony BGG (analogicznie jak w linku poniżej).
						<img  src="~/images/bgg_id.png"/>



							</div>
							
			            </section>
						
		        	</div>
		        </form>
			</div>
		</div>
	</div>
	<script src="~/js/jquery-3.3.1.min.js"></script>
	<script src="~/js/jquery.steps.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>